<!--
 PHPUnit configuration file for Nagixx

 @author terbach <terbach@netbixx.com>
 @license See licence file LICENCE.md
 @version 1.0.1
 @since 1.0.0
 @copyright 2012 netbixx GmbH (http://www.netbixx.com)

 @package Build
 @package Ant
-->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="index.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true">

    <!-- TestSuite(s) -->
    <testsuites>
        <testsuite name="Nagixx">
            <directory>source</directory>
        </testsuite>
    </testsuites>

    <!-- CodeCoverage -->
<!--    <filter>
        <whitelist>
            <directory suffix=".php">../lib</directory>
            <exclude>
                <directory suffix=".php">../lib/Console_CommandLine</directory>
            </exclude>
        </whitelist>

        <blacklist>
        </blacklist>
    </filter>-->

    <!-- Logging -->
    <logging>
        <!--<log type="coverage-html"
             target="../qa/codeCoverage"
             title="Nagixx"
             charset="UTF-8"
             yui="true"
             highlight="true"
             lowUpperBound="35"
             highLowerBound="70" />

        <log type="coverage-clover"
             target="../qa/logs/clover.xml" />

        <log type="junit"
             target="../qa/logs/phpunit.xml"
             logIncompleteSkipped="true" />-->
    </logging>
</phpunit>
